<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="bts.product.product_service.mapper.ProductMapper">
    <insert parameterType="bts.product.product_service.model.dto.ProductRequest" id="createProduct">
        INSERT INTO
            products
        <trim prefix="(" suffix=")" suffixOverrides=",">
            title,
            category,
            price,
            images,
            description,
            created_by,
            created_at,
            created_by_id
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #{title},
            #{category},
            #{price},
            #{image},
            #{description},
            #{createdBy},
            NOW(),
            #{createdById}
        </trim>
    </insert>

    <delete id="deleteProduct">
        DELETE FROM products WHERE id = #{id}
    </delete>

    <select id="getProductById" resultType="bts.product.product_service.model.entity.Product">
        SELECT
            id,
            title,
            price,
            description,
            category,
            images,
            created_at,
            created_by,
            created_by_id,
            updated_at,
            updated_by,
            updated_by_id
        FROM
            products
        WHERE id = #{id}
    </select>

    <select id="browseProduct" resultType="bts.product.product_service.model.entity.Product">
        SELECT
            id,
            title,
            price,
            description,
            category,
            images,
            created_at,
            created_by,
            created_by_id,
            updated_at,
            updated_by,
            updated_by_id
        FROM
            products
        WHERE
            <include refid="filterBrowseProduct"/>
        ORDER BY
        <choose>
            <when test="sortField.equalsIgnoreCase('title')"> title </when>
            <when test="sortField.equalsIgnoreCase('price')"> price </when>
            <when test="sortField.equalsIgnoreCase('description')"> description </when>
            <when test="sortField.equalsIgnoreCase('category')"> category </when>
            <otherwise> title </otherwise>
        </choose>
        <choose>
            <when test="sortOrder.equalsIgnoreCase('ASC')"> ASC </when>
            <otherwise> DESC </otherwise>
        </choose>
        OFFSET #{offset} ROWS FETCH NEXT #{limit} ROWS ONLY
    </select>

    <select id="countProduct" resultType="int">
        SELECT
            COUNT(1)
        FROM
         products
        WHERE
            <include refid="filterBrowseProduct"/>
    </select>

    <sql id="filterBrowseProduct">
        1=1
        <if test="search != null and search != ''">
            AND title ILIKE '%' || #{search} || '%'
        </if>
        <if test="category != null and category != ''">
            AND category ILIKE '%' || #{category} || '%'
        </if>
    </sql>

    <update id="updateProduct" parameterType="bts.product.product_service.model.dto.ProductUpdateRequest">
        UPDATE products
        <set>
            <if test="productRequest.title != null">title = #{productRequest.title},</if>
            <if test="productRequest.category != null">category = #{productRequest.category},</if>
            <if test="productRequest.price != null">price = #{productRequest.price},</if>
            <if test="productRequest.image != null">images = #{productRequest.image},</if>
            <if test="productRequest.description != null">description = #{productRequest.description},</if>
            updated_by = #{productRequest.updatedBy},
            updated_at = NOW(),
            updated_by_id = #{productRequest.updatedById}
        </set>
        WHERE id = #{id}
    </update>
</mapper>